In [14]:
import pandas as pd

# Insert

In [20]:
var1 = pd.DataFrame({'A':[1,2,3,4,5],'B':[10,9,8,7,6]})
print(var1)

   A   B
0  1  10
1  2   9
2  3   8
3  4   7
4  5   6

In [21]:
# parameters = 1st index no, 2nd position for new data, 3rd which data
var1.insert(1,'Python',var1['A'])
print(var1)

   A  Python   B
0  1       1  10
1  2       2   9
2  3       3   8
3  4       4   7
4  5       5   6

In [22]:
# another example
# in list no. of data should be equal
var1.insert(1,'Java',[-1,-2,-3,-4,-5])
print(var1)

   A  Java  Python   B
0  1    -1       1  10
1  2    -2       2   9
2  3    -3       3   8
3  4    -4       4   7
4  5    -5       5   6

In [23]:
# copying some data of col A to new column
var1['duplicate'] = var1['A'][:3]
print(var1)

   A  Java  Python   B  duplicate
0  1    -1       1  10        1.0
1  2    -2       2   9        2.0
2  3    -3       3   8        3.0
3  4    -4       4   7        NaN
4  5    -5       5   6        NaN

# Delete

In [24]:
# deleting col python from dataframe
print(var1)
deleted = var1.pop('Python')
print()
print(var1)

   A  Java  Python   B  duplicate
0  1    -1       1  10        1.0
1  2    -2       2   9        2.0
2  3    -3       3   8        3.0
3  4    -4       4   7        NaN
4  5    -5       5   6        NaN

   A  Java   B  duplicate
0  1    -1  10        1.0
1  2    -2   9        2.0
2  3    -3   8        3.0
3  4    -4   7        NaN
4  5    -5   6        NaN

In [25]:
# deleted item
print(deleted)

0    1
1    2
2    3
3    4
4    5
Name: Python, dtype: int64

In [26]:
# another way to delete using del keyword
del var1['Java']
print(var1)

   A   B  duplicate
0  1  10        1.0
1  2   9        2.0
2  3   8        3.0
3  4   7        NaN
4  5   6        NaN