# Data Structure in Python Pandas
- The Pandas provides two data structures for processing the data.
- Series & DataFrame and Panel

## Series 
- It is defined as a one-dimensional array that is capable of storing various data types.
- syntex
- import pandas as pd
- a = pd.Series()
- print(a)

In [1]:
import pandas as pd

In [2]:
x = [3,5,6,7,8]
var1 = pd.Series(x)
print(var1)

0    3
1    5
2    6
3    7
4    8
dtype: int64

In [3]:
# to know the type of series
print(type(var1))

<class 'pandas.core.series.Series'>

In [4]:
# accessing element by indexing
print(var1[3])

7

In [5]:
# giving spcial indexing to elements
var2 = [3,4,5,6]
var3 = pd.Series(var2,index=['a','s','d','f'])
print(var3)

a    3
s    4
d    5
f    6
dtype: int64

In [6]:
# giving different data type while creating
var4 = [3,4,6,8]
var5 = pd.Series(var4,index=['a','s','d','f'],dtype='float')
print(var5)

a    3.0
s    4.0
d    6.0
f    8.0
dtype: float64

In [7]:
# giving data a name also
var6 = [2,5,9,6]
var7 = pd.Series(var6,index=['i','ii','iii','iv'],dtype='float',name='Python')
print(var7)

i      2.0
ii     5.0
iii    9.0
iv     6.0
Name: Python, dtype: float64

In [8]:
# giving dictionary to Series
dict1 = {'Name':['python','c','c++','java'],'por':[11,32,43,54],'rank':[1,4,3,2]}
var8 = pd.Series(dict1)
print(var8)

Name    [python, c, c++, java]
por           [11, 32, 43, 54]
rank              [1, 4, 3, 2]
dtype: object

In [11]:
# giving series a single data
d1 = pd.Series(14)
print(d1)
print()
print(type(d1))

0    14
dtype: int64

<class 'pandas.core.series.Series'>

In [12]:
# giving one data to multiple indexes
d2 = pd.Series(50,index=[1,2,3,4,5,6,7,8,9])
print(d2)
print()
print(type(d2))

1    50
2    50
3    50
4    50
5    50
6    50
7    50
8    50
9    50
dtype: int64

<class 'pandas.core.series.Series'>

In [13]:
# adding data 
d3 = pd.Series(45,index=[1,2,3,4,5,6,7])
d4 = pd.Series(14,index=[1,2,3,4])
print(d3+d4)

1    59.0
2    59.0
3    59.0
4    59.0
5     NaN
6     NaN
7     NaN
dtype: float64